# Carpetas generadas por Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# IDEs
/.vs/
/.vscode/
/.idea/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj

# Símbolos de depuración y builds
*.pdb
*.mdb
*.apk
*.aab
*.unitypackage

# Informes de error
sysinfo.txt
crashlytics-build.properties

# Sistema operativo
.DS_Store
Thumbs.db